.checkout__ad {
	width: 100%;
	margin-bottom: 10px;
}

.checkout {
	display: flex;
	padding: 20px;
	background-color: white;
	height: max-content;
}
.checkout__title {
	margin-right: 10px;
	padding: 10px;
	border-bottom: 1px solid lightgray;
}
@media (max-width: 767px) {
	.checkout {
		display: block;
	}
	.checkout {
		margin-bottom: 0;
		margin-top: 25px;
	}
}
@media (max-width: 361px) {
	.checkout {
		margin-bottom: 0;
		margin-top: 25px;
	}
}
