.home {
	margin-left: auto;
	margin-right: auto;
	max-width: 1500px;
}

.home__image {
	position: relative;
	width: 100%;
	z-index: -1;
	margin-bottom: -224px;
	-webkit-mask-image: linear-gradient(
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0) 100%,
		transparent
	);
}

.home__row {
	display: flex;
	z-index: 1;
	margin-left: 5px;
	margin-right: 5px;
}
@media (max-width: 767px) {
	.home__row {
		flex-wrap: wrap;
	}
	.home__image {
		margin-bottom: 0;
		margin-top: 25px;
	}
}
@media (max-width: 361px) {
	.home__image {
		margin-bottom: 0;
		margin-top: 25px;
	}
}
